{% extends "index.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="oh-wrapper">
  <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent">
    <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
      <span class="oh-card-dashboard__title">{% trans "Cambiar/Actualizar Plan" %}</span>
    </div>
    <div class="oh-card-dashboard__body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="oh-btn oh-btn--success" type="submit">{% trans "Actualizar" %}</button>
        <a class="oh-btn oh-btn--secondary" href="{% url 'license_dashboard' %}">{% trans "Cancelar" %}</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}